<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DemoTestNG">
	<listeners>
	<listener class-name="test.Listeners"/>
	</listeners>
	
	<parameter name="URL" value="que onda julio"/>
	<test thread-count="5" name="Demo">
		<classes>
			<class name="test.FirstExample" />
			<class name="test.SecondExample" />
			<class name="test.CuartoEjemplo" >
				<methods>
					<include name="LoginHomeCarLoan"/>	
				</methods>
			</class>


		</classes>
	</test> <!-- Test -->

	<test thread-count="5" name="Car Load">
		<classes>
			<class name="test.TercerEjemplo">
				<methods>
					<!--<exclude name="MovilLoginCarLoan" /> -->
					<exclude  name="API.*"/> <!-- Excluye todo los metodos que tienen la palabra clave API -->
				</methods>
			</class>
		</classes>
	</test>

</suite> <!-- Suite -->
